/* Fixing bootstrap */
p {
    margin: 0px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    color: #555;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
}

.wrap {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("../images/jardi.jpg");
    background-size: cover;
    overflow: hidden;
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
}

.photo {
    width: 260px;
    height: 320px;
    position: absolute;
    z-index: 1;
    box-shadow: 0 0 1px rgba(0, 0, 0, .01);
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    left: 50%;
    top: 50%;
    margin: -160px 0 0 -130px;
    background-color: rgba(226, 226, 201, 0.95);;
    cursor: pointer;
}

.photo:hover:not(.photo_center) {
    -webkit-box-shadow: 0px 0px 5px 5px rgba(247,255,0,1);
    -moz-box-shadow: 0px 0px 5px 5px rgba(247,255,0,1);
    box-shadow: 0px 0px 5px 5px rgba(247,255,0,1);
    z-index: 900;
}

.photo .side {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    box-sizing: border-box;
}

.photo .side-front {
    /*display: none;*/
}

.photo .side-front .image {
    width: 100%;
    height: 250px;
    line-height: 250px;
    overflow: hidden;
}

.photo .side-front .image img {
    max-width: 100%;
    max-height: 100%;
}

img {
    image-orientation: from-image;
}

.photo_center .next, .photo_center .prev{
    display: block;
}
.next, .prev{
    display: none;
    margin-top: 10px;
    height: 30px;
    cursor: pointer;
}
.next{
    float: right;
}

.prev{
    float: left;
}

.image {
    text-align: center;
}

.photo_center .caption {
    color: #c3c3c3!important;
}

.photo .side-front .caption {
    text-align: center;
    font-size: 16px;
    line-height: 50px;
    color: #333333;
}

.photo .side-back {
}

.photo .side-back .desc {
    color: #c3c3c3;
    font-size: 14px;
    line-height: 1.5em;
}

.photo_center {
    left: 50%;
    top: 50%;
    margin: -160px 0 0 -130px;
    z-index: 999;
    /* Shadow */
    -webkit-box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 1);
    /* Background */
    background-color: black;
    background-image: radial-gradient(white, rgba(243, 247, 129, .2) 2px, transparent 15px),
    radial-gradient(yellow, rgba(255, 255, 0, .15) 1px, transparent 11px),
    radial-gradient(#F3F781, rgba(243, 247, 129, .1) 2px, transparent 22px),
    radial-gradient(rgba(268, 255, 255, .5), rgba(255, 255, 255, .1) 2px, transparent 30px);
    background-size: 225px 205px, 154px 141px, 119px 131px, 75px 72px;
    background-position: 10px 33px, 28px 9px, 207px 111px, 273px 143px;
}

.starry-night-old {
    background-color: black;
    background-image: radial-gradient(white, rgba(255, 255, 255, .2) 2px, transparent 40px),
    radial-gradient(white, rgba(255, 255, 255, .15) 1px, transparent 30px),
    radial-gradient(white, rgba(255, 255, 255, .1) 2px, transparent 40px),
    radial-gradient(rgba(255, 255, 255, .4), rgba(255, 255, 255, .1) 2px, transparent 30px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

.starry-night {
    background-color: black;
    background-image: radial-gradient(white, rgba(243, 247, 129, .2) 2px, transparent 15px),
    radial-gradient(yellow, rgba(255, 255, 0, .15) 1px, transparent 11px),
    radial-gradient(#F3F781, rgba(243, 247, 129, .1) 2px, transparent 22px),
    radial-gradient(rgba(268, 255, 255, .5), rgba(255, 255, 255, .1) 2px, transparent 30px);
    background-size: 225px 205px, 154px 141px, 119px 131px, 75px 72px;
    background-position: 10px 33px, 28px 9px, 207px 111px, 273px 143px;
}

.photo-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: all 0.6s;
    -moz-transform-style: preserve-3d;
    -moz-transition: all 0.6s;
}

.photo-wrap .side-front {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
}

.photo-wrap .side-back {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}

.photo-wrap .side {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
}

.photo_front .photo-wrap {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
}

.photo_back .photo-wrap {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}

.nav {
    width: 90%;
    line-height: 30px;
    position: absolute;
    left: 5%;
    bottom: 10px;
    z-index: 999;
    text-align: center;
}

.nav .i {
    width: 30px;
    height: 30px;
    display: inline-block;
    cursor: pointer;
    background-color: #aaa;
    text-align: center;
    border-radius: 90%;
    -webkit-transform: scale(0.5);
    -webkit-transition: all 0.5s;
    -moz-transform: scale(0.5);
    -moz-transition: all 0.5s;
}

.nav .i_current {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
}

.nav .i_back {
    -webkit-transform: rotateY(-180deg) scale(0.8);
    -moz-transform: rotateY(-180deg) scale(0.8);
    background-color: #555;
}

.emoji {
    width: 1.25em;
    height: 1.25em;
    display: inline-block;
    /*margin-bottom: -0.25em;*/
}