<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Puki photos</title>

    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/screen.css" rel="stylesheet" type="text/css">
    <link href="css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    <script src="js/jquery-2.2.4.min.js"></script>
    <!--<script src="js/jquery.mobile-1.4.5.min.js"></script>-->
    <script src="js/main.js" type="text/javascript"></script>

    <!--Emojis-->
    <script src="js/emojify.js" type="text/javascript"></script>
</head>
<body onselectstart="return false;">

<div class="wrap" id="wrap">
    <div class="photo photo_front" id="photo_{{index}}" onclick="turn(this)">
        <div class="photo-wrap">
            <div class="side side-front">
                <p class="image"><img src="photo/{{img}}"></p>
                <p class="caption">
                    <img src="images/left-arrow.png" class="prev" onclick="prev({{index}})">
                    {{caption}}
                    <img src="images/right-arrow.png" class="next" onclick="next({{index}})">
                </p>
            </div>
            <div class="side side-back">
                <p class="desc">{{desc}}</p>
            </div>
        </div>
    </div>
</div>

</body>
</html>